.listbox {
	overflow-x: hidden;
	overflow-y: scroll;
}
.button {
	padding: 5px;
	margin-bottom: 13px;
	background-color: #fff;
	border: solid 1px #bbb;
}
.button:hover {
	background-color: #eee;
}
#search {
	display: inline-block;
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}
.myUL {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.myUL li a {
	display: block;
	border-bottom: solid 1px #ddd;
	padding: 8px;
	text-decoration: none;
	color: #000;
}
.myUL li a:hover {
	background-color: #eee;
}
.form .row {
	margin-top: 3px;
}
.detail-input {
	display: inline-block;
	width: 100%;
	padding: 3px;
}
.detail-label {
	padding: 3px;
}
.detail-text {
	padding: 3px;
}
.select {
	padding: 5px;
}
a {
	cursor: pointer;
}
