.title {
	background-color: #222;
	text-align: center;
	padding: 8px;
	font-size: 25px;
	color: #fff;
	font-weight: bold;
}
.listbox {
	margin-top: 15px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.myUL {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.myUL li a {
	display: block;
	border-bottom: solid 1px #ddd;
	padding: 9px;
	text-decoration: none;
	color: #000;
}
.myUL li a:hover {
	background-color: #eee;
}
.form .row {
	margin-top: 3px;
}
.detail-label {
	padding: 3px;
}
.detail-text {
	padding: 3px;
}
a {
	display: block;
	padding: 5px;
	cursor: pointer;
}
